html,
body {
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.logo {
  max-height: 4em;
}

main {
  background-color: #e4e4e4;
}

.container {
  padding: 1em;
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 400px;
}

.content img {
  width: 100%;
}

.profileImage {
  max-width: 4em;
  float: left;
  margin-right: 1em;
  clip-path: circle();
}

.post {
  background-color: #ffffff;
  border-bottom: 1px solid #000000;
}

.padding {
  padding: 0.5em;
  margin: 0px;
}
